{% extends 'base.html' %}
{% load thumbnail %}

{% block title %} {{user.username}} {% endblock %}

{% block body %} 
<!-- component -->
<div class="rounded-3xl overflow-hidden shadow-xl max-w-xs my-3">
  	<img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
    <div class="flex justify-center -mt-8">
        {% thumbnail user.profile.image "100x100" crop="center" as im %}
               <img src="{{im.url}}" class="rounded-full border-solid border-white border-2 -mt-3">          
        {% endthumbnail %}
       		
    </div>
	<div class="text-center px-3 pb-6 pt-2">
		<h3 class=" text-sm bold font-sans">{{user.username}}</h3>
	</div>
  {% if request.user.is_authenticated %}
    {% if request.user != user %}
      <div class="ml-auto">
        <button class="bg-blue-500 hover:bg-blue-700 inline-flex w-40 justify-center mx-20 mb-5 text-white font-bold py-2 rounded js-follow" data-username = '{{ user.username }}' data-action = 'follow' 
        data-url = "{% url 'profiles:follow' user.username %}"
        type="button">
        <span class="js-follow-text">
          {% if you_follow %}
            Unfollow
          {% else %}
            Follow
          {% endif %}
        </span>
        </button>
      </div>
    {% endif %}
  {% else %}
    <div class=" px-10 ml-6 text-black font-bold pb-2 rounded">login to follow this user</div>
  {% endif %}
  	<div class="flex justify-center pb-3">
      <div class="text-center mr-3 border-r pr-3">
        <h2>{{ total_posts }}</h2>
        <span>Posts</span>
      </div>
      <div class="text-center">
        <h2>{{ total_follows }}</h2>
        <span>Friends</span>
      </div>
  	</div>
</div>
{% endblock %}