{% load thumbnail %}
<link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    
    <!-- component is from https://www.creative-tim.com/twcomponents/component/post-article-->
    <div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-lg shadow-md" style = 'width: 60rem'>
            <div class="flex justify-between items-center">
                <span class="font-light text-gray-600">{{post.date|date:"F j, Y, g:i a"}}</span>
             <span
                class="inline-flex items-center justify-center h-15 w-12 text-lg text-gray-400"
                ><i class="bx bx-ghost"></i
              ></span>
            </div>
            <div class="mt-2">
                <p class="mt-2 text-gray-600">{{post.text}}</p>
            </div>
            <div class="flex justify-between items-center mt-4">
                {% if show_detail_link %}
                    <a class="text-blue-600 hover:underline" href="{% url 'feed:detail' post.id %}">Read more</a>
                {% else %}
                <div class="post">
                    <button class="delete-post" type="button" data-url="{% url 'feed:delete' post.id %}" style="border:1px solid white; padding-left: 5px; padding-right: 5px; padding-bottom: 2px; padding-top: 2px; background-color: blueviolet; color: white; font-weight: bold;">
                            Delete
                    </button>
                </div>
                {% endif %}
                <div>
                    <a class="flex items-center" href="{% url 'profiles:detail' post.author.username %}">
                        {% thumbnail post.author.profile.image "373x373" crop="center" as im %}
                        <img class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" src="{{im.url}}" alt="avatar">
                        {% endthumbnail %}
                        <h1 class="text-gray-700 font-bold">{{ post.author.username }}</h1>
                    </a>
                </div>
            </div>
        </div>